@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.contact-form-container{
flex-grow: 0;
flex-shrink: 0;
position: relative;
margin-left: 8%;
margin-right: -150px;
z-index: 1;
width: 28%;
height: 65vh;
padding: 2%;
margin-top: 10.5%;
border-radius: 12px;
background: #FFF;
box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.25);
} 



.contact-form-heading{
color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.contact-form-fields{
margin-top: 2vh;
display: flex;
flex-direction: column;
justify-content: space-between;
color: #000;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.input-box{
    margin-top: 5px;
    margin-bottom: 8px;
    padding-left: 5px;
    border: none;
    border-radius: 8px;
    background: #F0F0F0;
    height: 25px;
    vertical-align: top;

}

.message-textarea{
    padding: 1px;
    margin-top: 5px;
    border: none;
    background: #F0F0F0;
    border-radius: 8px;
}

#form-submit-btn{
    margin-top: 10px;
    
    font-family: "Noto Sans";
    cursor: pointer; 
outline: 0;
color: #fff;
background-color: #1D9FDA;
border-color: #0d6efd;
display: inline-block;
font-weight: 400;
/* line-height: 1.5; */
text-align: center;
border: 1px solid transparent;
padding: 4px;
font-size: 16px;
border-radius: .8rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
}